<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看用户</title>
</head>
<body>
<!--<div th:replace="fragments/header :: header">...</div>-->
<h3 th:text="${user.title}">Welcome to springboot</h3>
<table border="1">
    <thead>
    <tr>
        <td>id</td>
        <td>username</td>
        <td>password</td>
        <td>sex</td>
        <td>note</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${user.allUser.size()} eq 0">
        <td colspan="3">没有用户信息！！</td>
    </tr>
    <tr th:each="user : ${user.allUser}">
        <td th:text="${user.id}">11</td>
        <td th:text="${user.username}">11</td>
        <td th:text="${user.password}">wsc</td>
        <td th:text="${user.sex}">11</td>
        <td th:text="${user.note}">11</td>
    </tr>
    </tbody>

</table>

</body>
</html>