*{
    background-color: beige;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
.menu{
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
}
.page{
    height: 1400px;
    margin-top: 100px;
}
table, th, td{
    border: 2px solid #CCCCCC;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: larger;
}
table{
    width: 900px;
}
th,td{
    height: 100px;
    min-width: 70px;
}
h1{
    text-align: center;
    background-color: beige;
    padding: 20px;
}
a{
    text-decoration:none;
    font-size: large;
}
a:hover{
    font-size: 18px;
}
.button1:hover{

}
a:active,.button1:active{
    font-size: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.menu{
    text-align: center;
    background-color: beige;
    padding: 20px;
}
.right{
    position: relative;
    background-color: beige;
    font-size: 20px;

}

#datas{
    padding: 20px;
}

#center{
    padding-left: 400px;
    padding-right: 400px;
    text-align: center;
    font-size: 18px;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.button1{
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 12px;
}
#ABK{
    padding: 10px;
    text-align: right;
    font-size: 16px;
}
#uploadForm{
    margin: 50px auto;
    padding: 50px;
    background-color: bisque;
    text-align: center;
}

.pic {
    width: 150px;
    height: 150px;
}

.contact {
    width: 700px;
    height: auto;
    margin: 50px;
    padding: 50px;
    background-color: antiquewhite;
}

.icon-xiugai:hover,.icon-lajitong:hover,.icon-gouwuchekong:hover {
    color: red;
    width: 80px;
    height: 80px;
}
