<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">平台主页</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{//at.alicdn.com/t/font_2041061_7zc0hmvynf9.css}"/>
</head>
<body>


<div class="menu">
    <a class="button" href="javascript:void(0)" onclick="">买车</a>
    <a class="button" href="javascript:void(0)" onclick="">卖车</a>
    <a class="button" href="javascript:void(0)" onclick="">快速估价</a>
    <a class="button" href="javascript:void(0)" onclick="">个人中心</a>
    <a class="button" href="javascript:void(0)" onclick="leave()">安全退出</a>
    <span class="right" th:text="| 欢迎: ${loginUser.username}!|"></span>
</div>
<div class="page">
    <br>
    <br>
    <hr/>
    <div class="row">


        <tr th:if="${allCar.list.size() eq 0}">
            <td>暂时没有指定二手车信息！</td>
        </tr>

        <div class="col-md-4 col-sm-4" th:each="car:${allCar.list}">
            <div class="single-product-item">
                <div class="new-product-label"><span>new</span></div>
                <div class="single-product clearfix">
                    <a href="#">
                                                    <span class="product-image">
                                                        <img src="img/product/11.jpg" alt="">
                                                    </span>
                        <span class="product-image hover-image">
                                                        <img src="img/product/10.jpg" alt="">
                                                    </span>
                    </a>
                    <div class="button-actions clearfix">
                        <button class="button add-to-cart" type="button">
                            <span><i class="fa fa-shopping-cart"></i></span>
                        </button>
                        <ul class="add-to-links">
                            <li class="quickview">
                                <a class="btn-quickview modal-view" href="#" data-toggle="modal" data-target="#productModal">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a class="link-wishlist" href="wishlist.html">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </li>																													<li>
                            <a class="link-compare" href="#">
                                <i class="fa fa-retweet"></i>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
                <h2 class="single-product-name"><a href="#">Accumsan elit </a></h2>
                <div class="price-box">
                    <p class="special-price">
                        <span th:text="${car.id}" class="price"></span>
                    </p>
                </div>
            </div>
        </div>
<!--        <tr th:each="car:${allCar.list}">-->
<!--            <td th:text="${car.id}"></td>-->
<!--            <td>-->
<!--                <div class="single-product clearfix">-->
<!--                    <a href="#">-->

<!--                            <img th:src="@{'/img/'+${car.picture}+'.jpg'}" >-->

<!--                    </a>-->
<!--                </div>-->
<!--            </td>-->
<!--            <td th:text="${car.brand}"></td>-->
<!--            <td th:text="${car.price}"></td>-->
<!--            <td th:text="|${car.usedTime}年 ${car.mileage}公里|"></td>-->
<!--        </tr>-->
        <!--<div class="col-md-4 col-sm-4">
            <div class="single-product-item">
                <div class="single-product clearfix">
                    <a href="#">
                        <span class="product-image">
                            <img src="img/product/1.jpg" alt="">
                        </span>
                    </a>
                </div>
                <h2 class="single-product-name"><a href="#">Fusce aliquam</a></h2>
                <div class="price-box">
                    <p class="old-price">
                        <span class="price">$999.00</span>
                    </p>
                    <p class="special-price">
                        <span class="price">$767.00</span>
                    </p>
                </div>
            </div>
        </div>-->
    </div>
</div>

<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>