<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsc.mapper.UserMapper">

    <resultMap id="UserMapper" type="com.wsc.entity.User">
        <result column="id" javaType="Long" property="id"/>

    </resultMap>

    <select id="selectAllUser" resultType="com.wsc.entity.User">
        select * from user;
    </select>

    <select id="selectUser" resultType="com.wsc.entity.User">
        select * from user where id = #{id};
    </select>

    <select id="selectUser1" resultType="com.wsc.entity.User">
        select * from user where username = #{username} and password = #{password};
    </select>

    <select id="selectUserByName" resultType="com.wsc.entity.User">
        select * from user where username = #{username};
    </select>

    <select id="findByToken" resultType="com.wsc.entity.User">
        select * from user where token = #{token};
    </select>

    <!-- 根据用户名字模糊查询 -->
    <select id="selectUsersByName" resultType="com.wsc.entity.User">
        select * from user where username like concat('%', #{username},'%' );
    </select>

    <select id="userSum" resultType="com.wsc.VO.EChartsVO.UserEChartsVO">
        SELECT
        count(u.id) as total,
        sum(u.disabled =1) as black,
        sum(p.role_id=2 and u.disabled=0) as users,
        sum(p.role_id=3 or p.role_id=4 and u.disabled=0) as manager
        FROM user u,permission p
        where  u.id = p.user_id
    </select>

    <insert id="insertUser" parameterType="com.wsc.entity.User">
        insert into User(username,password,phone,sex,note,disabled) values
         (#{username},#{password},#{phone},#{sex},#{note},#{disabled})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from User where id = #{id}
    </delete>

    <update id="updateUser" parameterType="com.wsc.entity.User">
        update User
        <set>
            <if test="username != null and username !=''">
                username = #{username},
            </if>
            <if test="password != null and password !=''">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="note != null and note !=''">
                note = #{note},
            </if>
            <if test="disabled != null">
                disabled = #{disabled},
            </if>
            <if test="token != null and token !=''">
                token = #{token},
            </if>
            <if test="expireTime != null">
                expire_time = #{expireTime},
            </if>
            <if test="loginTime != null">
                login_time = #{loginTime},
            </if>
        </set>
        <where>
            and id = #{id}
        </where>
    </update>

    <update id="disableUser" parameterType="com.wsc.entity.User">
        update User set disabled = 1 where id = #{id};
    </update>

    <update id="ableUser" parameterType="com.wsc.entity.User">
        update User set disabled = 0 where id = #{id};
    </update>
</mapper>